# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.user
/GameEngine/.vs/
/GameEngine/Content/
/x64
/.vs/
/*/x64
/GameEngine/Intermediate/AssetRegistryCache
/GameEngine/Intermediate/Build
/GameEngine/Intermediate/ReimportCache
/GameEngine/Intermediate/*.bin
/GameEngine/Saved
/GameEngine/Binaries
/GameEngine/Intermediate/Config/CoalescedSourceConfigs/Lightmass.ini
*.pdb
